<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Crop Prediction</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body class="container">
    <div class="bb">
        <h1 class="hh">Welcome to Crop Recommendation</h1><br>
        <p>This application recommends the suitable crop based on various nutrients of soil and environmental factors.</p><br>
        <form action="/index" method="get">
            <button id="start-button">Start</button>
        </form>
    </div>
</body>
</html>
